
<div class="app-container">
  <div class="section-container balance">
    <app-account-balance-component [accountData]="accountData"></app-account-balance-component>
  </div>
  
  <div class="section-container spending">
    <div class="header-text">Spending - Last 7 Days</div>
    <app-account-spending-chart-component [accountData]="accountData"></app-account-spending-chart-component>
  </div>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Paul Savchuk</a>.
  </div>
</div>


