

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .descriptor-text {
        margin-bottom: 16px;
        font-size: 14px;
    }
    
    .balance-text {
        font-weight: 700;
        font-size: 30px;
    }
}